
.question-content {
    width: 100%;
    height: auto;
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    background: #3d3f6b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
}

.question-content img {
    max-width: 100%;
    max-height: 272px;
    border-radius: 12px;
}

.question-number {
    color: var(--primary-color);
    display: block;
}

.options {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px 40px;
    align-self: stretch;
    flex-wrap: wrap;
}

#option {
    font-size: 16px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    padding: 16px 24px;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    transition: all 150ms ease;
}

#option:hover {
    background: rgb(209, 196, 120);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 575.98px) {
    .question-container {
        width: 100%;
        padding: 16px 24px;
    }
    .options {
        gap: 16px 16px;
    }
    
    #option {
        width: 100%;
        font-size: 14px;
        padding: 8px 16px;
    }

    .question-content {
        padding: 16px;
        gap: 16px;
    }

    .question-content img {
        max-height: 200px;
    }
}