.result-container {
    width: 100%;
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
    border-radius: 24px;
    background: #3d3f6b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    color: var(--bg-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--primary-color);
    cursor: pointer;
    transition: all 150ms ease;
}

button:hover {
    background: rgb(209, 196, 120);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
}